# Week 3 Project

In [1]:
import pandas as pd
import numpy as np

## Importing the raw table from Wikipedia

In [2]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned                        NaN
1         M2A      Not assigned                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

## Cleaning up the Table According to Project Specifications

### Removing Cells with 'Not assigned' boroughs

In [3]:
df = df[df['Borough'] != 'Not assigned']
df.head()

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

### Combining Neighborhoods with the same postal code

In [4]:
df[df['Postal Code'].duplicated()]  # no duplicates found
# neighborhoods appear to already be combined within the wikipedia table

Empty DataFrame
Columns: [Postal Code, Borough, Neighborhood]
Index: []

### Setting Neighborhood to Borough if Neighborhood is 'Not Assigned'

In [5]:
df[df['Neighborhood'] == 'Not Assigned']  # no neighborhoods are set to Not Assigned

Empty DataFrame
Columns: [Postal Code, Borough, Neighborhood]
Index: []

In [6]:
df.shape

(103, 3)

## Geocoding

In [7]:
import geocoder

In [11]:
latitudes = []
longitudes = []
for postal in df['Postal Code']:
    cords = None
    
    while cords is None:
        geo = geocoder.arcgis('{}, Toronto, Ontario'.format(postal))
        cords = geo.json

    latitudes.append(cords['lat'])
    longitudes.append(cords['lng'])

In [16]:
df['Latitude'] = latitudes
df['Longitude'] = longitudes

In [18]:
df.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
2,M3A,North York,Parkwoods,43.752935,-79.335641
3,M4A,North York,Victoria Village,43.728102,-79.311890
4,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.650964,-79.353041
5,M6A,North York,"Lawrence Manor, Lawrence Heights",43.723265,-79.451211
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.661790,-79.389390